# YARN
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules

# Build
lib
*.tsbuildinfo
*.log

# Yalc
.yalc/**
yalc.lock

# Test
coverage
/**/test/coverage
/test/tmp/**
/tmp/**